<h1>Task list :</h1>

<ul>
  <% @tasks.each do |task| %>
  <% done = task.done ? '[X]' : '[ ]' %>
  <li><%= task.description %> - <%= done %></li>
  <% end %>
</ul>

<%= link_to 'Create a new task', new_task_path %>
